= haml :navbar
.container{ :style => 'padding-top: 60px;' }

  .row
    .span12
      %h1 @food_poison replies
      %hr

  - @dan_outreach_tweets.each do |tweet|
    .row
      .span8.offset2.well
        .row
          .span1
            %img{ :src => "#{tweet['user']['profile_image_url']}" }
          .span7
            %p.muted.pull-right 
              %a{ :href => "http://www.twitter.com/#{tweet['user']['screen_name']}/status/#{tweet['id_str']}", :style => "color: #999" }
                = Date.parse tweet['created_at']
            %h3 
              = tweet['user']['screen_name']
              %small 
                %a{ :href => "http://www.twitter.com/#{tweet['user']['name']}" }
                  @#{tweet['user']['name']}
            %blockquote
              %p
                = tweet['text']

