= haml :"navbar-admin"
.container{ :style => 'padding-top: 60px;' }

  .row
    .span12
      %h1 Food Poisoning Tweets
      %hr

  - @tweets.each do |tweet|
    .row
      .span8.offset2.well
        .row
          .span1
            %img{ :src => "#{tweet['profile_image_url']}" }
          .span7
            %p.muted.pull-right 
              %a{ :href => "http://www.twitter.com/#{tweet['from_user']}/status/#{tweet['id_str']}", :style => "color: #999" }
                = Date.parse tweet['created_at']
            %h3 
              = tweet['from_user_name']
              %small 
                %a{ :href => "http://www.twitter.com/#{tweet['from_user']}" }
                  @#{tweet['from_user']}
            %blockquote
              %p
                = tweet['text']

